NODE_ENV=development
GLOBAL_PREFIX=api
API_VERSION=v1
CORS_ORIGINS=*

BFF_PORT=3300
INVOICE_SERVICE_PORT=3301
INVOICE_HTTP_PORT=3302

POSTGRES_PORT=5432
POSTGRES_DB=einvoice_dev
POSTGRES_USER=einvoice_dev_user
POSTGRES_PASSWORD=dev-postgres-password

MONGODB_PORT=27017
MONGO_DB=einvoice_dev
MONGO_ROOT_USERNAME=einvoice_dev_root
MONGO_ROOT_PASSWORD=dev-mongo-password
